:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

html, body {
    margin: 0;
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color:rgb(206, 207, 200);
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin-bottom: 100px;
}


.container {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: larger;
    margin-bottom: 16px;
    text-shadow: #393a37 1px 3px 3px;
    /* text-emphasis: filled double-circle black;
    text-emphasis-position: under; */
    
}

#title {
    color: gold
}
/* .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
} */
.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid {
    display: grid;
    background-color: #98a0a8;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: #563f47 5px 5px 5px;
    background-image: linear-gradient(to bottom right, #f5f5f3, #dddfde);
    margin: 10px;
}

.grid-item {
    text-align: center;
    border-radius: 4px;
    /* min-width: 0px;
    min-height: 0px; */
}

.hover {
    background-color: #393a37;
}

.settings {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#light-dark-mode {
    justify-content: center;
    align-items: center;
}

.etch-a-sketch {
    background-color: #d3011f;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 36px;
    padding-bottom: 72px;
    border-radius: 16px;
    margin: 100px;
    background-image: linear-gradient(to bottom right, #f1141d, #e70d0c);
    color: rgb(233, 189, 78);
    text-rendering: optimizeLegibility;
    box-shadow: #393a37 20px 20px 20px;
}
